.main-div {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
  overflow: hidden;
}

.left img {
  margin-left: 15rem;
  width: 90%;
}
.register_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 4rem;
}

.register_form input[type='text'] {
  width: 60%;
}

.register_form input[type='password'] {
  width: 60%;
}

.register_form .btn {
  width: max-content;
  margin-top: 1rem;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  color: var(--color-white);
  background: var(--color-bg);
}

table {
  font-size: 200%;
  background-color: var(--color-bg1);
  width: 50%;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-left: 12rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.5);
}

input.log {
  width: 300px;
  height: 40px;
}

h1 {
  color: var(--color-white);
  align-items: center;
  margin: 5rem;
  margin-left: 22rem;
  margin-bottom: 3rem;
  margin-top: 7rem;
}

.text {
  font-size: 20px;
}
a {
  text-decoration: none;
}

message {
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-bg1);
  color: var(--color-white);
  font-size: 20px;
}
